<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOG.BASE" scope="context"  source="logging.file.path"/>
    <springProperty name="LOG_ROOT_LEVEL" scope="context"  source="logging.level.root"/>
    <property name="LOG_PREFIX" value="blog-backEnd"/>
    <property name="FILESIZE" value="500MB"/>
    <property name="NORMAL.PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative --- [%thread] [%C:%L] %-5level - %msg%n"/>
    <property name="SIMPLE.PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} --- [%thread] %msg%n" />
    <property name="CHARSET" value="UTF-8"/>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="errorLog">
        <file>${LOG.BASE}/${LOG_PREFIX}.err.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG.BASE}/${LOG_PREFIX}.err.%d{yyyyMMdd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${NORMAL.PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <!--  exactly print error level in errorLog -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="infoLog">
        <file>${LOG.BASE}/${LOG_PREFIX}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG.BASE}/${LOG_PREFIX}.%d{yyyyMMdd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${FILESIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${NORMAL.PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${LOG_ROOT_LEVEL}</level>
        </filter>
    </appender>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${NORMAL.PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${LOG_ROOT_LEVEL}</level>
        </filter>
    </appender>

    <logger level="WARN" name="org.springramework"/>
    <logger level="WARN" name="com.fasterxml"/>
    <logger level="WARN" name="org.apache.tomcat"/>

    <root level="TRACE">
        <appender-ref ref="errorLog"/>
        <appender-ref ref="infoLog"/>
        <appender-ref ref="console"/>
    </root>
</configuration>