<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsg.blog.mapper.MessageMapper">

    <select id="getMessageList" resultType="com.gsg.blog.vo.MessageVO">
        select m.id,
               m.user_id,
               m.color,
               m.content,
               m.deleted,
               m.gmt_create,
               m.gmt_modified,
               u.user_name
        from message m
                 inner join user u on u.id = m.user_id
        order by m.gmt_create
    </select>

</mapper>
