<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsg.blog.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gsg.blog.model.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="birthday" property="birthday" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="role" property="role" />
        <result column="sex" property="sex" />
        <result column="address" property="address" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>


    <insert id="insertUser" parameterType="com.gsg.blog.dto.UserDTO" useGeneratedKeys="true" keyProperty="id">
        insert into
            user(
                id,
                user_name,
                password,
                birthday,
                email,
                phone,
                avatar,
                <if test="role != null and role != ''">role,</if>
                sex,
                address,
                gmt_create,
                gmt_modified
            )values(
                #{id},
                #{userName},
                #{password},
                #{birthday},
                #{email},
                #{phone},
                #{avatar},
                <if test="role != null and role != ''">#{role},</if>
                #{sex},
                #{address},
                #{gmtCreate},
                #{gmtModified}
            )
    </insert>

    <!-- 校验用户名称是否唯一 -->
    <select id="checkUserNameUnique" resultType="com.gsg.blog.model.User">
        select id, user_name from user where user_name = #{userName} limit 1
    </select>
    <!-- 校验手机号码是否唯一 -->
    <select id="checkPhoneUnique" resultType="com.gsg.blog.model.User">
        select id, phone from user where phone = #{phone}  limit 1
    </select>
    <!-- 校验email是否唯一 -->
    <select id="checkEmailUnique" resultType="com.gsg.blog.model.User">
        select id, email from user where email = #{email} limit 1
    </select>

    <!--  根据条件查询对应的用户信息（内部使用）  -->
    <select id="getUserByCondition" resultType="com.gsg.blog.model.User">
        select
        u.id,
        u.user_name,
        u.password,
        u.birthday,
        u.email,
        u.phone,
        u.avatar,
        u.role,
        u.sex,
        u.address
        FROM
        user u
        <where>
            <if test='id != null and id != ""'>
                u.id = #{id}
            </if>
            <if test='phone!= null and phone!= ""'>
                u.phone = #{phone}
            </if>
            <if test='email != null and email != ""'>
                u.email = #{email}
            </if>
        </where>
    </select>

    <select id="getUserById" resultType="com.gsg.blog.model.User">
        SELECT
            u.id,
            u.user_name,
            u.password,
            u.birthday,
            u.email,
            u.phone,
            u.avatar,
            u.role,
            u.sex,
            u.address
        FROM
            user u
        <if test='userId != null'>
            WHERE
            u.id = #{userId}
        </if>
    </select>

    <select id="getAllUser" resultType="com.gsg.blog.vo.UserVO">
        SELECT
            u.id,
            u.user_name,
            u.birthday,
            u.email,
            u.phone,
            u.avatar,
            u.role,
            u.sex,
            u.address,
            u.gmt_create,
            u.gmt_modified
        FROM
            user u
    </select>


</mapper>
